body{
  color: #404040;
}

.container{
  padding-left: 0;
  padding-right: 0;
}
.header{
  background-color: white;
  padding: 1em;
  margin-left: 0;
  margin-right: 0;
}
h1{
  text-align: center;
  color: #404040;
  font-variant: small-caps;
  font-size: 3em;
  letter-spacing: .25em;
  padding-top: .7em;
}
h2{
  font-size: 1.25em;
  text-align: center;
  padding-top: 15px;
  border-top: 2px dashed #404040;
  margin-top: 20px;

}

h3{
  font-size: 1.25em;
}

#rubyYes{
  background-color: #00b3b4;
}

#cssYes{
  background-color:  #00b3b4;
}

#cYes{
  background-color:  #00b3b4;
}
.trackResult{
  height: 100px;
  background-color: orange;
  border: 3px solid white;
}

.purple{
  border-bottom: 3px solid purple;
}

.trackName{
  font-size: 1.5em;
  font-family: sans-serif;
  background-color:  white;
  text-align: center;
  height: 50px;
  /* -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); */

}

.results{
  margin-top: auto;
  margin-bottom: auto;
  height; 100%;
}
.yes{
  display: none;
}

.no{
  background-color: white
}
